{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style1.css' %}" >
    <title>Add Client</title>
</head>
<body bgcolor="#eee">
<header class="header">
    <div id="menu-btn" class="fas fa-bars"></div>
    <a href="{% url 'home' %}" class="logo"> <span>kech</span>insurances </a>
    <b style="color:blue;">Author:&nbsp;@<a href="">{{request.user}}</a></b>
    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>    
        <a href="{{request.META.HTTP_REFERER}}">retour</a>
    </nav>
    <div id="login-btn">
        <a href="{% url 'logoutPage' %}"> <button class="btn"> logout </button> </a> 
    </div>
</header> 
<section class="home" id="home">
    <h3 style="text-align:center; font-size:30px; text-transform:none; "> 
     Add Client Forum:
    </h3>
    <h3 style="text-align:center; font-size:17px; font-style:arial; font-weight:bold;">
        <br>
    <form method="POST" action="">
             <label> &nbsp;Name </label> <input id="nom" type="name" name="nom" placeholder="Name" />
             {% csrf_token %}
             <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CNE </label> <input id="cne" type="name" name="cne" placeholder="CNE" />
             {% csrf_token %}
             <br/> <br>
             <label> Phone number </label> <input type="name" name="telephone" placeholder="name" />
             <br/><br>
             {% csrf_token %}
             <label> Birth Date </label> <input id="date_naissance" type="date" name="date_naissance" placeholder="Birth" />
             {% csrf_token %}
             <br>
          <br>
             <label> Vehicule Type </label> <input type="name" name="type_vehicule" placeholder="name" size="20" />
             {% csrf_token %} 
             <label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Matricule </label> <input type="name" name="Matricule" placeholder="matricule" />
             {% csrf_token %}
             <br/><br/>
             <label>Type</label> <input type="name" name="type_contrat" placeholder="type contrat" />
             {% csrf_token %}
             <br><br>
             <label>Start Date&nbsp;&nbsp;</label> <input type="date" name="date_start" placeholder="" />
             {% csrf_token %}
             <br/> <br>
             <label>End Date &nbsp;&nbsp; </label> <input type="date" name="date_end" placeholder="" />
             {% csrf_token %}
           
            </div>
            <br><br>
        <input type="submit" value="submit" class="btn btn--main"/> 
    </form>
    </h3>
</section>

</body>
</html>
{% endblock content %}