{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style1.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
    <title>client detail</title>
</head>
<body>
    <header class="header">
        <div id="menu-btn" class="fas fa-bars"></div>
        <a href="{% url 'home' %}" class="logo"> <span>kech</span>insurances </a>
        <b style="color:blue;">Author:&nbsp;@<a href="">{{request.user}}</a></b>
        <nav class="navbar">
            <a href="{% url 'home' %}">Home</a>  
            <a href="{% url 'allclient' %}"><i>retour</i></a>
            <a href="{% url 'add_Client' %}"> ajouter un clients </a>
        </nav>
    
        <div id="login-btn">
            <a href="{% url 'logoutPage' %}"> <button class="btn"> logout </button> </a> 
        </div>
</header> 
<br><br><br><br><br><br><br>
<div>
<h3 style="font-size:15px;">
<table class="table w-100 ">
    <thead class="table-dark">
      <tr>
        <th scope="col">&nbsp;#</th>
        <th scope="col">Name</th>
        <th scope="col">&nbsp;CNE</th>
        <th scope="col">Birth date</th>
        <th scope="col">Vehicule</th>
        <th scope="col">Contrat</th>
        <th scope="col">&nbsp;&nbsp; Date start</th>
        <th scope="col">&nbsp;&nbsp; Date end </th>
        <th scope="col">Phone</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">Agent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> {{clients.id}} </th>
        <td>    {{clients.nom}}  </td>
        <td>    {{clients.cne}}  </td>
        <td>    {{clients.date_naissance}}  </td>
        <td>     {{clients.type_vehicule}}  </td>
        <td>  {{clients.type_contrat}}  </td>
        <td>   {{clients.date_start}}   </td>
        <td>    {{clients.date_end}}  </td>
        <td>     {{clients.telephone}}  </td>
        {% if request.user == clients.host %} 
        <td><a href="{% url 'update_Client' clients.id %}">Update</a>&nbsp;&nbsp;&nbsp; </td>
        <td> <a href="{% url 'delete_Client' clients.id %}">Delete</a>&nbsp;&nbsp;&nbsp;</td>
        {% else %}
        <td>[Not-allowed]</td>
        <td>[Not-allowed]</td>
        {% endif %} 
        <td>   {{clients.host}}  </td>
      </tr>
    </tbody>
</table>
{%endblock%}
    </h3>
</div>

</body>
</html>